{% extends 'base.html' %}

{% block title %}Kas{% endblock title %}

{% block content %}
  {% for kas in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ kas.title_kas }}</span> &middot;
        <span class="text-muted">by {{ kas.author }} | {{ kas.date }}</span>
      </div>

      <div class="container">
          <img src="{{ kas.foto_kas.url}}" width=100% style="margin: 5px 20px 0 0;"/>
      </div>
    </div>

{% endfor %}
{% endblock content %}